[Unit]
Before=multi-user.target
Wants=network-online.target
After=network-online.target
ConditionPathExists=!/var/lib/.init-done

[Service]
Type=oneshot
ExecStart=/usr/bin/device-init.sh
ExecStartPost=touch /var/lib/.init-done

[Install]
WantedBy=multi-user.target
